name: CI

on: [push, pull_request]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    steps:
      - {shell: bash,run: 'echo "$(whoami) on $(uname -a)"; echo "::group::sudo"; sudo -lU "$(whoami)"&&echo $?||echo $?; echo "::group::env"; set -o posix; set|sort'}
      - uses: actions/checkout@v2
      - run: test/shell.sh
      - name: test action
        uses: ./.
        with:
          file: test/.travis.yml

      - name: test project .travis.yml action
        uses: ./.
        with:
          allow_failure: true
        env:
          TRAVIS_YAML_FILE: .travis.yml

  error:
    name: allow failure
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - id: self-error
        uses: ./.
        with:
          allow_failure: true

      - if: ${{ success() }}
        shell: bash
        run: test "${{ steps.self-error.outputs.outcome }}" = "failure"

  try-machine:
    name: run on ${{ matrix.machine }}
    runs-on: ${{ matrix.machine }}
    needs: test
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        machine:
          - ubuntu-16.04
          - ubuntu-18.04
          - ubuntu-20.04
          - macos-10.14
          - macos-10.15
          - macos-11.0
          - windows-2019
        experimental: [false]

    steps:
      - {shell: bash,run: 'echo "$(whoami) on $(uname -a)"; echo "::group::sudo"; sudo -lU "$(whoami)"&&echo $?||echo $?; echo "::group::env"; set -o posix; set|sort'}
      - uses: actions/checkout@v2
      - name: run .travis.yml
        uses: ./.
        env:
          TRAVIS_ALLOW_FAILURE: true
